// Color Pallet
$black: #333;
$white: #eee;
$steelgrey: rgb(173, 180, 183);
$steelblue: #496084;

// Color Remap to abstract variables
$g_black: $black;
$g_white: $white;
$g_color1: $steelblue;
$g_color2: $steelgrey;
$g_txtdark: $black;
$g_txtlight: $white;
$g_linkcolor: $g_color1;

// Typography Globals
$g_fontsize: 14px;
$g_lineheight: 21px;
$g_basefont: "Helvetica", Arial, sans-serif;

// Page Units
$g_hunit: 20px;
$g_vunit: ($g_lineheight * 1em)/$g_fontsize;