// bower:scss
@import "../bower_components/aumbry_fe/_aumbry_fe";
// endbower

.hero-unit {
    margin: $g_hunit auto 0 auto;
    width: fibonacci(15)*1px;
    background-color: #eee;
    border-radius: 6px;
    padding: $g_vunit*3;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
